[alias]
    st = status
    s  = status
    ts = status
    l  = log
    p  = push
    d  = diff
    pl = pull
    c  = commit
    a  = add -u
[user]
        name = ilyaro
        email = ilyaro@domain.com
[pull]
        rebase = true
[push]
        default = simple
        autoSetupRemote = true
[core]
        autocrlf=input
        editor=vim
## store password in cache (Timeout in seconds) for 60*60*24*30=2592000 - 30 days
[credential]
        helper = cache --timeout=2592000
