<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.ilya.ramdisk-autocommit</string>

  <key>ProgramArguments</key>
  <array>
    <string>__HOME__/bin/ramdisk-autocommit.sh</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>

  <key>RunAtLoad</key>
  <true/>

  <key>KeepAlive</key>
  <true/>

  <key>StandardOutPath</key>
  <string>/tmp/ramdisk-autocommit.out.log</string>

  <key>StandardErrorPath</key>
  <string>/tmp/ramdisk-autocommit.err.log</string>
</dict>
</plist>
